[submodule "workspace/src/xarm_ros2"]
	path = workspace/src/xarm_ros2
	url = git@github.com:xArm-Developer/xarm_ros2.git
[submodule "workspace/src/easy_handeye2"]
	path = workspace/src/easy_handeye2
	url = git@github.com:marcoesposito1988/easy_handeye2.git
